@font-face {
  font-family: 'EatonReg';
  src: url("../fonts/EatonReg.otf");
}
@font-face {
  font-family: 'EatonMed';
  src: url("../fonts/EatonMed.otf");
}
@font-face {
  font-family: 'EatonBold';
  src: url("../fonts/EatonBold.otf");
}
/* line 43, ../sass/badge.scss */
body {
  margin: 0;
}

@page {
  position: relative;
}
/* line 49, ../sass/badge.scss */
.badge {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
/* line 60, ../sass/badge.scss */
.badge * {
  color: #fff;
  font-family: Eaton;
  z-index: 99;
}
/* line 65, ../sass/badge.scss */
.badge img {
  border: none;
}

/* line 69, ../sass/badge.scss */
.empty-row .empty {
  height: 44mm;
}

/* line 72, ../sass/badge.scss */
.top-image {
  width: auto;
  height: 49mm;
}

/* line 76, ../sass/badge.scss */
.multi-badge-row {
  width: 2.127in;
  border: none;
}

/* line 80, ../sass/badge.scss */
table {
  border: none;
  padding: 0;
  margin: 0;
  border-collapse: collapse;
}

/* line 87, ../sass/badge.scss */
.badge-table tbody {
  border: none !important;
}
/* line 91, ../sass/badge.scss */
.badge-table td, .badge-table tr {
  border: none;
  position: relative;
  padding: 0;
  margin: 0;
}
/* line 97, ../sass/badge.scss */
.badge-table .badge-main {
  padding: 0;
  height: 16.68mm;
}
/* line 102, ../sass/badge.scss */
.badge-table .badge-bottom {
  padding: 0;
}
/* line 110, ../sass/badge.scss */
.badge-table .badge-main,
.badge-table .badge-bottom {
  background: #283981;
}
/* line 115, ../sass/badge.scss */
.badge-table .qrcode {
  padding-right: 2mm;
  position: relative;
}
/* line 122, ../sass/badge.scss */
.badge-table .badge-left, .badge-table .badge-right {
  padding-top: 2mm;
}
/* line 125, ../sass/badge.scss */
.badge-table .badge-bottom td {
  padding-bottom: 2mm;
}
/* line 128, ../sass/badge.scss */
.badge-table .badge-left {
  width: 65%;
  height: 16.68mm;
  vertical-align: top;
  overflow: visible;
}
/* line 136, ../sass/badge.scss */
.badge-table .badge-right {
  width: 35%;
  height: 16.68mm;
  vertical-align: top;
}
/* line 146, ../sass/badge.scss */
.badge-table .badge-event-title .event-title-bottom {
  margin-top: 5px;
  font-weight: bold;
}
/* line 152, ../sass/badge.scss */
.badge-table .badge-attendee-name {
  font-weight: bold;
  padding: 40px 0px 10px;
}
/* line 157, ../sass/badge.scss */
.badge-table .badge-attendee-first-name {
  font-size: 24px;
  margin-left: 2mm;
}
/* line 161, ../sass/badge.scss */
.badge-table .badge-attendee-last-name {
  font-size: 24px;
  margin-left: 2mm;
  margin-top: 1.37mm;
}
/* line 166, ../sass/badge.scss */
.badge-table .badge-attendee-title,
.badge-table .badge-attendee-company {
  font-size: 18px;
  margin-left: 2mm;
}
/* line 171, ../sass/badge.scss */
.badge-table .badge-attendee-title {
  margin-top: 0mm;
  margin-bottom: 4mm;
}

/**
 * Multi-badge PDF
 */
/* line 229, ../sass/badge.scss */
.empty-row {
  height: 1.947in;
}

/* line 234, ../sass/badge.scss */
.ribbon-row {
  height: 0.137in;
  background: #f79221;
}

/* line 248, ../sass/badge.scss */
.text-length-short {
  font-size: 24px;
}
/* line 251, ../sass/badge.scss */
.text-length-short.badge-attendee-title, .text-length-short.badge-attendee-company {
  font-size: 18px !important;
}

/* line 256, ../sass/badge.scss */
.text-length-medium {
  font-size: 18px;
}
/* line 259, ../sass/badge.scss */
.text-length-medium.badge-attendee-title, .text-length-medium.badge-attendee-company {
  font-size: 11.88px !important;
}

/* line 264, ../sass/badge.scss */
.text-length-long {
  font-size: 15.84px;
}
/* line 267, ../sass/badge.scss */
.text-length-long.badge-attendee-title, .text-length-long.badge-attendee-company {
  font-size: 9.504px !important;
}

/* line 272, ../sass/badge.scss */
.text-length-extra-long {
  font-size: 14.4px;
  text-overflow: ellipsis;
  white-space: normal;
  position: relative;
}

/* line 286, ../sass/badge.scss */
.badge-ribbon, .badge-ribbon-authorized, .badge-ribbon-nonauthorized {
  height: 0.137in;
  width: 100%;
  z-index: 999999;
  position: absolute;
  bottom: 0px;
}

/* line 293, ../sass/badge.scss */
.badge-ribbon {
  background: #f79221;
}

/* line 297, ../sass/badge.scss */
.badge-ribbon-authorized {
  background: red !important;
}

/* line 301, ../sass/badge.scss */
.badge-ribbon-nonauthorized {
  background: blue !important;
}
