/* line 36, ../../../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/toolkit-1.3.8/stylesheets/toolkit/_box-sizing.scss */
*, :after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 4, ../../../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/toolkit-1.3.8/stylesheets/toolkit/_fluid-media.scss */
img, video {
  max-width: 100%;
  height: auto;
}

/* line 8, ../sass/partials/global/_extendables.scss */
.clearfix {
  /*  &:before,
    &:after {
      display: table;
      content: "";
    }
  
    &:after {
      clear: both;
    }*/
}

/* line 25, ../sass/partials/global/_extendables.scss */
.even {
  background-color: #fff;
}

/* line 28, ../sass/partials/global/_extendables.scss */
.odd {
  background-color: #f5f5f5;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../fonts/glyphicons-halflings-regular.eot");
  src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}
/* line 7, ../sass/_glyphicons.scss */
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 19, ../sass/_glyphicons.scss */
.glyphicon-asterisk:before {
  content: "\2a";
}

/* line 22, ../sass/_glyphicons.scss */
.glyphicon-plus:before {
  content: "\2b";
}

/* line 25, ../sass/_glyphicons.scss */
.glyphicon-euro:before {
  content: "\20ac";
}

/* line 28, ../sass/_glyphicons.scss */
.glyphicon-minus:before {
  content: "\2212";
}

/* line 31, ../sass/_glyphicons.scss */
.glyphicon-cloud:before {
  content: "\2601";
}

/* line 34, ../sass/_glyphicons.scss */
.glyphicon-envelope:before {
  content: "\2709";
}

/* line 37, ../sass/_glyphicons.scss */
.glyphicon-pencil:before {
  content: "\270f";
}

/* line 40, ../sass/_glyphicons.scss */
.glyphicon-glass:before {
  content: "\e001";
}

/* line 43, ../sass/_glyphicons.scss */
.glyphicon-music:before {
  content: "\e002";
}

/* line 46, ../sass/_glyphicons.scss */
.glyphicon-search:before {
  content: "\e003";
}

/* line 49, ../sass/_glyphicons.scss */
.glyphicon-heart:before {
  content: "\e005";
}

/* line 52, ../sass/_glyphicons.scss */
.glyphicon-star:before {
  content: "\e006";
}

/* line 55, ../sass/_glyphicons.scss */
.glyphicon-star-empty:before {
  content: "\e007";
}

/* line 58, ../sass/_glyphicons.scss */
.glyphicon-user:before {
  content: "\e008";
}

/* line 61, ../sass/_glyphicons.scss */
.glyphicon-film:before {
  content: "\e009";
}

/* line 64, ../sass/_glyphicons.scss */
.glyphicon-th-large:before {
  content: "\e010";
}

/* line 67, ../sass/_glyphicons.scss */
.glyphicon-th:before {
  content: "\e011";
}

/* line 70, ../sass/_glyphicons.scss */
.glyphicon-th-list:before {
  content: "\e012";
}

/* line 73, ../sass/_glyphicons.scss */
.glyphicon-ok:before {
  content: "\e013";
}

/* line 76, ../sass/_glyphicons.scss */
.glyphicon-remove:before {
  content: "\e014";
}

/* line 79, ../sass/_glyphicons.scss */
.glyphicon-zoom-in:before {
  content: "\e015";
}

/* line 82, ../sass/_glyphicons.scss */
.glyphicon-zoom-out:before {
  content: "\e016";
}

/* line 85, ../sass/_glyphicons.scss */
.glyphicon-off:before {
  content: "\e017";
}

/* line 88, ../sass/_glyphicons.scss */
.glyphicon-signal:before {
  content: "\e018";
}

/* line 91, ../sass/_glyphicons.scss */
.glyphicon-cog:before {
  content: "\e019";
}

/* line 94, ../sass/_glyphicons.scss */
.glyphicon-trash:before {
  content: "\e020";
}

/* line 97, ../sass/_glyphicons.scss */
.glyphicon-home:before {
  content: "\e021";
}

/* line 100, ../sass/_glyphicons.scss */
.glyphicon-file:before {
  content: "\e022";
}

/* line 103, ../sass/_glyphicons.scss */
.glyphicon-time:before {
  content: "\e023";
}

/* line 106, ../sass/_glyphicons.scss */
.glyphicon-road:before {
  content: "\e024";
}

/* line 109, ../sass/_glyphicons.scss */
.glyphicon-download-alt:before {
  content: "\e025";
}

/* line 112, ../sass/_glyphicons.scss */
.glyphicon-download:before {
  content: "\e026";
}

/* line 115, ../sass/_glyphicons.scss */
.glyphicon-upload:before {
  content: "\e027";
}

/* line 118, ../sass/_glyphicons.scss */
.glyphicon-inbox:before {
  content: "\e028";
}

/* line 121, ../sass/_glyphicons.scss */
.glyphicon-play-circle:before {
  content: "\e029";
}

/* line 124, ../sass/_glyphicons.scss */
.glyphicon-repeat:before {
  content: "\e030";
}

/* line 127, ../sass/_glyphicons.scss */
.glyphicon-refresh:before {
  content: "\e031";
}

/* line 130, ../sass/_glyphicons.scss */
.glyphicon-list-alt:before {
  content: "\e032";
}

/* line 133, ../sass/_glyphicons.scss */
.glyphicon-lock:before {
  content: "\e033";
}

/* line 136, ../sass/_glyphicons.scss */
.glyphicon-flag:before {
  content: "\e034";
}

/* line 139, ../sass/_glyphicons.scss */
.glyphicon-headphones:before {
  content: "\e035";
}

/* line 142, ../sass/_glyphicons.scss */
.glyphicon-volume-off:before {
  content: "\e036";
}

/* line 145, ../sass/_glyphicons.scss */
.glyphicon-volume-down:before {
  content: "\e037";
}

/* line 148, ../sass/_glyphicons.scss */
.glyphicon-volume-up:before {
  content: "\e038";
}

/* line 151, ../sass/_glyphicons.scss */
.glyphicon-qrcode:before {
  content: "\e039";
}

/* line 154, ../sass/_glyphicons.scss */
.glyphicon-barcode:before {
  content: "\e040";
}

/* line 157, ../sass/_glyphicons.scss */
.glyphicon-tag:before {
  content: "\e041";
}

/* line 160, ../sass/_glyphicons.scss */
.glyphicon-tags:before {
  content: "\e042";
}

/* line 163, ../sass/_glyphicons.scss */
.glyphicon-book:before {
  content: "\e043";
}

/* line 166, ../sass/_glyphicons.scss */
.glyphicon-bookmark:before {
  content: "\e044";
}

/* line 169, ../sass/_glyphicons.scss */
.glyphicon-print:before {
  content: "\e045";
}

/* line 172, ../sass/_glyphicons.scss */
.glyphicon-camera:before {
  content: "\e046";
}

/* line 175, ../sass/_glyphicons.scss */
.glyphicon-font:before {
  content: "\e047";
}

/* line 178, ../sass/_glyphicons.scss */
.glyphicon-bold:before {
  content: "\e048";
}

/* line 181, ../sass/_glyphicons.scss */
.glyphicon-italic:before {
  content: "\e049";
}

/* line 184, ../sass/_glyphicons.scss */
.glyphicon-text-height:before {
  content: "\e050";
}

/* line 187, ../sass/_glyphicons.scss */
.glyphicon-text-width:before {
  content: "\e051";
}

/* line 190, ../sass/_glyphicons.scss */
.glyphicon-align-left:before {
  content: "\e052";
}

/* line 193, ../sass/_glyphicons.scss */
.glyphicon-align-center:before {
  content: "\e053";
}

/* line 196, ../sass/_glyphicons.scss */
.glyphicon-align-right:before {
  content: "\e054";
}

/* line 199, ../sass/_glyphicons.scss */
.glyphicon-align-justify:before {
  content: "\e055";
}

/* line 202, ../sass/_glyphicons.scss */
.glyphicon-list:before {
  content: "\e056";
}

/* line 205, ../sass/_glyphicons.scss */
.glyphicon-indent-left:before {
  content: "\e057";
}

/* line 208, ../sass/_glyphicons.scss */
.glyphicon-indent-right:before {
  content: "\e058";
}

/* line 211, ../sass/_glyphicons.scss */
.glyphicon-facetime-video:before {
  content: "\e059";
}

/* line 214, ../sass/_glyphicons.scss */
.glyphicon-picture:before {
  content: "\e060";
}

/* line 217, ../sass/_glyphicons.scss */
.glyphicon-map-marker:before {
  content: "\e062";
}

/* line 220, ../sass/_glyphicons.scss */
.glyphicon-adjust:before {
  content: "\e063";
}

/* line 223, ../sass/_glyphicons.scss */
.glyphicon-tint:before {
  content: "\e064";
}

/* line 226, ../sass/_glyphicons.scss */
.glyphicon-edit:before {
  content: "\e065";
}

/* line 229, ../sass/_glyphicons.scss */
.glyphicon-share:before {
  content: "\e066";
}

/* line 232, ../sass/_glyphicons.scss */
.glyphicon-check:before {
  content: "\e067";
}

/* line 235, ../sass/_glyphicons.scss */
.glyphicon-move:before {
  content: "\e068";
}

/* line 238, ../sass/_glyphicons.scss */
.glyphicon-step-backward:before {
  content: "\e069";
}

/* line 241, ../sass/_glyphicons.scss */
.glyphicon-fast-backward:before {
  content: "\e070";
}

/* line 244, ../sass/_glyphicons.scss */
.glyphicon-backward:before {
  content: "\e071";
}

/* line 247, ../sass/_glyphicons.scss */
.glyphicon-play:before {
  content: "\e072";
}

/* line 250, ../sass/_glyphicons.scss */
.glyphicon-pause:before {
  content: "\e073";
}

/* line 253, ../sass/_glyphicons.scss */
.glyphicon-stop:before {
  content: "\e074";
}

/* line 256, ../sass/_glyphicons.scss */
.glyphicon-forward:before {
  content: "\e075";
}

/* line 259, ../sass/_glyphicons.scss */
.glyphicon-fast-forward:before {
  content: "\e076";
}

/* line 262, ../sass/_glyphicons.scss */
.glyphicon-step-forward:before {
  content: "\e077";
}

/* line 265, ../sass/_glyphicons.scss */
.glyphicon-eject:before {
  content: "\e078";
}

/* line 268, ../sass/_glyphicons.scss */
.glyphicon-chevron-left:before {
  content: "\e079";
}

/* line 271, ../sass/_glyphicons.scss */
.glyphicon-chevron-right:before {
  content: "\e080";
}

/* line 274, ../sass/_glyphicons.scss */
.glyphicon-plus-sign:before {
  content: "\e081";
}

/* line 277, ../sass/_glyphicons.scss */
.glyphicon-minus-sign:before {
  content: "\e082";
}

/* line 280, ../sass/_glyphicons.scss */
.glyphicon-remove-sign:before {
  content: "\e083";
}

/* line 283, ../sass/_glyphicons.scss */
.glyphicon-ok-sign:before {
  content: "\e084";
}

/* line 286, ../sass/_glyphicons.scss */
.glyphicon-question-sign:before {
  content: "\e085";
}

/* line 289, ../sass/_glyphicons.scss */
.glyphicon-info-sign:before {
  content: "\e086";
}

/* line 292, ../sass/_glyphicons.scss */
.glyphicon-screenshot:before {
  content: "\e087";
}

/* line 295, ../sass/_glyphicons.scss */
.glyphicon-remove-circle:before {
  content: "\e088";
}

/* line 298, ../sass/_glyphicons.scss */
.glyphicon-ok-circle:before {
  content: "\e089";
}

/* line 301, ../sass/_glyphicons.scss */
.glyphicon-ban-circle:before {
  content: "\e090";
}

/* line 304, ../sass/_glyphicons.scss */
.glyphicon-arrow-left:before {
  content: "\e091";
}

/* line 307, ../sass/_glyphicons.scss */
.glyphicon-arrow-right:before {
  content: "\e092";
}

/* line 310, ../sass/_glyphicons.scss */
.glyphicon-arrow-up:before {
  content: "\e093";
}

/* line 313, ../sass/_glyphicons.scss */
.glyphicon-arrow-down:before {
  content: "\e094";
}

/* line 316, ../sass/_glyphicons.scss */
.glyphicon-share-alt:before {
  content: "\e095";
}

/* line 319, ../sass/_glyphicons.scss */
.glyphicon-resize-full:before {
  content: "\e096";
}

/* line 322, ../sass/_glyphicons.scss */
.glyphicon-resize-small:before {
  content: "\e097";
}

/* line 325, ../sass/_glyphicons.scss */
.glyphicon-exclamation-sign:before {
  content: "\e101";
}

/* line 328, ../sass/_glyphicons.scss */
.glyphicon-gift:before {
  content: "\e102";
}

/* line 331, ../sass/_glyphicons.scss */
.glyphicon-leaf:before {
  content: "\e103";
}

/* line 334, ../sass/_glyphicons.scss */
.glyphicon-fire:before {
  content: "\e104";
}

/* line 337, ../sass/_glyphicons.scss */
.glyphicon-eye-open:before {
  content: "\e105";
}

/* line 340, ../sass/_glyphicons.scss */
.glyphicon-eye-close:before {
  content: "\e106";
}

/* line 343, ../sass/_glyphicons.scss */
.glyphicon-warning-sign:before {
  content: "\e107";
}

/* line 346, ../sass/_glyphicons.scss */
.glyphicon-plane:before {
  content: "\e108";
}

/* line 349, ../sass/_glyphicons.scss */
.glyphicon-calendar:before {
  content: "\e109";
}

/* line 352, ../sass/_glyphicons.scss */
.glyphicon-random:before {
  content: "\e110";
}

/* line 355, ../sass/_glyphicons.scss */
.glyphicon-comment:before {
  content: "\e111";
}

/* line 358, ../sass/_glyphicons.scss */
.glyphicon-magnet:before {
  content: "\e112";
}

/* line 361, ../sass/_glyphicons.scss */
.glyphicon-chevron-up:before {
  content: "\e113";
}

/* line 364, ../sass/_glyphicons.scss */
.glyphicon-chevron-down:before {
  content: "\e114";
}

/* line 367, ../sass/_glyphicons.scss */
.glyphicon-retweet:before {
  content: "\e115";
}

/* line 370, ../sass/_glyphicons.scss */
.glyphicon-shopping-cart:before {
  content: "\e116";
}

/* line 373, ../sass/_glyphicons.scss */
.glyphicon-folder-close:before {
  content: "\e117";
}

/* line 376, ../sass/_glyphicons.scss */
.glyphicon-folder-open:before {
  content: "\e118";
}

/* line 379, ../sass/_glyphicons.scss */
.glyphicon-resize-vertical:before {
  content: "\e119";
}

/* line 382, ../sass/_glyphicons.scss */
.glyphicon-resize-horizontal:before {
  content: "\e120";
}

/* line 385, ../sass/_glyphicons.scss */
.glyphicon-hdd:before {
  content: "\e121";
}

/* line 388, ../sass/_glyphicons.scss */
.glyphicon-bullhorn:before {
  content: "\e122";
}

/* line 391, ../sass/_glyphicons.scss */
.glyphicon-bell:before {
  content: "\e123";
}

/* line 394, ../sass/_glyphicons.scss */
.glyphicon-certificate:before {
  content: "\e124";
}

/* line 397, ../sass/_glyphicons.scss */
.glyphicon-thumbs-up:before {
  content: "\e125";
}

/* line 400, ../sass/_glyphicons.scss */
.glyphicon-thumbs-down:before {
  content: "\e126";
}

/* line 403, ../sass/_glyphicons.scss */
.glyphicon-hand-right:before {
  content: "\e127";
}

/* line 406, ../sass/_glyphicons.scss */
.glyphicon-hand-left:before {
  content: "\e128";
}

/* line 409, ../sass/_glyphicons.scss */
.glyphicon-hand-up:before {
  content: "\e129";
}

/* line 412, ../sass/_glyphicons.scss */
.glyphicon-hand-down:before {
  content: "\e130";
}

/* line 415, ../sass/_glyphicons.scss */
.glyphicon-circle-arrow-right:before {
  content: "\e131";
}

/* line 418, ../sass/_glyphicons.scss */
.glyphicon-circle-arrow-left:before {
  content: "\e132";
}

/* line 421, ../sass/_glyphicons.scss */
.glyphicon-circle-arrow-up:before {
  content: "\e133";
}

/* line 424, ../sass/_glyphicons.scss */
.glyphicon-circle-arrow-down:before {
  content: "\e134";
}

/* line 427, ../sass/_glyphicons.scss */
.glyphicon-globe:before {
  content: "\e135";
}

/* line 430, ../sass/_glyphicons.scss */
.glyphicon-wrench:before {
  content: "\e136";
}

/* line 433, ../sass/_glyphicons.scss */
.glyphicon-tasks:before {
  content: "\e137";
}

/* line 436, ../sass/_glyphicons.scss */
.glyphicon-filter:before {
  content: "\e138";
}

/* line 439, ../sass/_glyphicons.scss */
.glyphicon-briefcase:before {
  content: "\e139";
}

/* line 442, ../sass/_glyphicons.scss */
.glyphicon-fullscreen:before {
  content: "\e140";
}

/* line 445, ../sass/_glyphicons.scss */
.glyphicon-dashboard:before {
  content: "\e141";
}

/* line 448, ../sass/_glyphicons.scss */
.glyphicon-paperclip:before {
  content: "\e142";
}

/* line 451, ../sass/_glyphicons.scss */
.glyphicon-heart-empty:before {
  content: "\e143";
}

/* line 454, ../sass/_glyphicons.scss */
.glyphicon-link:before {
  content: "\e144";
}

/* line 457, ../sass/_glyphicons.scss */
.glyphicon-phone:before {
  content: "\e145";
}

/* line 460, ../sass/_glyphicons.scss */
.glyphicon-pushpin:before {
  content: "\e146";
}

/* line 463, ../sass/_glyphicons.scss */
.glyphicon-usd:before {
  content: "\e148";
}

/* line 466, ../sass/_glyphicons.scss */
.glyphicon-gbp:before {
  content: "\e149";
}

/* line 469, ../sass/_glyphicons.scss */
.glyphicon-sort:before {
  content: "\e150";
}

/* line 472, ../sass/_glyphicons.scss */
.glyphicon-sort-by-alphabet:before {
  content: "\e151";
}

/* line 475, ../sass/_glyphicons.scss */
.glyphicon-sort-by-alphabet-alt:before {
  content: "\e152";
}

/* line 478, ../sass/_glyphicons.scss */
.glyphicon-sort-by-order:before {
  content: "\e153";
}

/* line 481, ../sass/_glyphicons.scss */
.glyphicon-sort-by-order-alt:before {
  content: "\e154";
}

/* line 484, ../sass/_glyphicons.scss */
.glyphicon-sort-by-attributes:before {
  content: "\e155";
}

/* line 487, ../sass/_glyphicons.scss */
.glyphicon-sort-by-attributes-alt:before {
  content: "\e156";
}

/* line 490, ../sass/_glyphicons.scss */
.glyphicon-unchecked:before {
  content: "\e157";
}

/* line 493, ../sass/_glyphicons.scss */
.glyphicon-expand:before {
  content: "\e158";
}

/* line 496, ../sass/_glyphicons.scss */
.glyphicon-collapse-down:before {
  content: "\e159";
}

/* line 499, ../sass/_glyphicons.scss */
.glyphicon-collapse-up:before {
  content: "\e160";
}

/* line 502, ../sass/_glyphicons.scss */
.glyphicon-log-in:before {
  content: "\e161";
}

/* line 505, ../sass/_glyphicons.scss */
.glyphicon-flash:before {
  content: "\e162";
}

/* line 508, ../sass/_glyphicons.scss */
.glyphicon-log-out:before {
  content: "\e163";
}

/* line 511, ../sass/_glyphicons.scss */
.glyphicon-new-window:before {
  content: "\e164";
}

/* line 514, ../sass/_glyphicons.scss */
.glyphicon-record:before {
  content: "\e165";
}

/* line 517, ../sass/_glyphicons.scss */
.glyphicon-save:before {
  content: "\e166";
}

/* line 520, ../sass/_glyphicons.scss */
.glyphicon-open:before {
  content: "\e167";
}

/* line 523, ../sass/_glyphicons.scss */
.glyphicon-saved:before {
  content: "\e168";
}

/* line 526, ../sass/_glyphicons.scss */
.glyphicon-import:before {
  content: "\e169";
}

/* line 529, ../sass/_glyphicons.scss */
.glyphicon-export:before {
  content: "\e170";
}

/* line 532, ../sass/_glyphicons.scss */
.glyphicon-send:before {
  content: "\e171";
}

/* line 535, ../sass/_glyphicons.scss */
.glyphicon-floppy-disk:before {
  content: "\e172";
}

/* line 538, ../sass/_glyphicons.scss */
.glyphicon-floppy-saved:before {
  content: "\e173";
}

/* line 541, ../sass/_glyphicons.scss */
.glyphicon-floppy-remove:before {
  content: "\e174";
}

/* line 544, ../sass/_glyphicons.scss */
.glyphicon-floppy-save:before {
  content: "\e175";
}

/* line 547, ../sass/_glyphicons.scss */
.glyphicon-floppy-open:before {
  content: "\e176";
}

/* line 550, ../sass/_glyphicons.scss */
.glyphicon-credit-card:before {
  content: "\e177";
}

/* line 553, ../sass/_glyphicons.scss */
.glyphicon-transfer:before {
  content: "\e178";
}

/* line 556, ../sass/_glyphicons.scss */
.glyphicon-cutlery:before {
  content: "\e179";
}

/* line 559, ../sass/_glyphicons.scss */
.glyphicon-header:before {
  content: "\e180";
}

/* line 562, ../sass/_glyphicons.scss */
.glyphicon-compressed:before {
  content: "\e181";
}

/* line 565, ../sass/_glyphicons.scss */
.glyphicon-earphone:before {
  content: "\e182";
}

/* line 568, ../sass/_glyphicons.scss */
.glyphicon-phone-alt:before {
  content: "\e183";
}

/* line 571, ../sass/_glyphicons.scss */
.glyphicon-tower:before {
  content: "\e184";
}

/* line 574, ../sass/_glyphicons.scss */
.glyphicon-stats:before {
  content: "\e185";
}

/* line 577, ../sass/_glyphicons.scss */
.glyphicon-sd-video:before {
  content: "\e186";
}

/* line 580, ../sass/_glyphicons.scss */
.glyphicon-hd-video:before {
  content: "\e187";
}

/* line 583, ../sass/_glyphicons.scss */
.glyphicon-subtitles:before {
  content: "\e188";
}

/* line 586, ../sass/_glyphicons.scss */
.glyphicon-sound-stereo:before {
  content: "\e189";
}

/* line 589, ../sass/_glyphicons.scss */
.glyphicon-sound-dolby:before {
  content: "\e190";
}

/* line 592, ../sass/_glyphicons.scss */
.glyphicon-sound-5-1:before {
  content: "\e191";
}

/* line 595, ../sass/_glyphicons.scss */
.glyphicon-sound-6-1:before {
  content: "\e192";
}

/* line 598, ../sass/_glyphicons.scss */
.glyphicon-sound-7-1:before {
  content: "\e193";
}

/* line 601, ../sass/_glyphicons.scss */
.glyphicon-copyright-mark:before {
  content: "\e194";
}

/* line 604, ../sass/_glyphicons.scss */
.glyphicon-registration-mark:before {
  content: "\e195";
}

/* line 607, ../sass/_glyphicons.scss */
.glyphicon-cloud-download:before {
  content: "\e197";
}

/* line 610, ../sass/_glyphicons.scss */
.glyphicon-cloud-upload:before {
  content: "\e198";
}

/* line 613, ../sass/_glyphicons.scss */
.glyphicon-tree-conifer:before {
  content: "\e199";
}

/* line 616, ../sass/_glyphicons.scss */
.glyphicon-tree-deciduous:before {
  content: "\e200";
}

/* line 23, ../sass/email.scss */
body {
  text-align: center;
  background: #eee;
  font-family: Arial;
  font-size: 14px;
  color: #222;
}

/* line 30, ../sass/email.scss */
p {
  line-height: 20px;
}

/* line 33, ../sass/email.scss */
.email-wrapper {
  width: 700px;
  margin: 0 auto;
}

/* line 38, ../sass/email.scss */
.event-request-receipt-field {
  margin-bottom: 20px;
}

/* line 42, ../sass/email.scss */
.description {
  margin-top: 0;
  margin-bottom: 25px;
}

/* line 47, ../sass/email.scss */
.email-header {
  border: 1px solid #bbb;
  text-align: left;
  background: #fff;
}
/* line 51, ../sass/email.scss */
.email-header .email-header-inner {
  padding: 30px 20px;
}

/* line 55, ../sass/email.scss */
.email-footer {
  padding-top: 20px;
}

/* line 60, ../sass/email.scss */
.big-button {
  font-size: 12px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF0279C2', endColorstr='#FF013A5D');
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAyNzljMiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAyNzljMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0279c2), color-stop(100%, #0279c2));
  background: -moz-linear-gradient(#0279c2, #0279c2);
  background: -webkit-linear-gradient(#0279c2, #0279c2);
  background: linear-gradient(#0279c2, #0279c2);
  -moz-box-shadow: #14a4fd 0 1px 0 inset;
  -webkit-box-shadow: #14a4fd 0 1px 0 inset;
  box-shadow: #14a4fd 0 1px 0 inset;
  border: 1px solid #0269a9;
  color: #fff;
  box-shadow: none;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 10px;
  padding: 16px 34px;
  line-height: 17px;
  text-align: center;
  position: relative;
  border: none;
}
/* line 15, ../../../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.big-button:hover {
  text-decoration: none;
}
/* line 36, ../../../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.big-button:hover {
  background-color: #0269a9;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAyNjlhOSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAyNjlhOSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0269a9), color-stop(100%, #0269a9));
  background: -moz-linear-gradient(#0269a9, #0269a9);
  background: -webkit-linear-gradient(#0269a9, #0269a9);
  background: linear-gradient(#0269a9, #0269a9);
}
/* line 39, ../../../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.big-button:active {
  -moz-box-shadow: #02609a 0 1px 2px inset;
  -webkit-box-shadow: #02609a 0 1px 2px inset;
  box-shadow: #02609a 0 1px 2px inset;
}
/* line 6, ../../../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.big-button.disabled, .big-button[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: #0279c2;
  cursor: default;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 74, ../../../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/sassy-buttons-0.2.6/stylesheets/_sassy-buttons.sass */
.big-button::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
/* line 65, ../sass/partials/global/_mixins.scss */
.big-button.active {
  background: #0066a5;
}

/* line 64, ../sass/email.scss */
.email-content {
  background: #fff;
  border: 1px solid #bbb;
  border-top: none;
  padding: 30px;
  text-align: left;
}

/* line 71, ../sass/email.scss */
.email-actions {
  margin-top: 30px;
}

/* line 74, ../sass/email.scss */
.email-link {
  padding: 20px 0px;
  background: #eee;
}

/* line 78, ../sass/email.scss */
a {
  color: #0279c2;
  font-size: 11px;
}

/* line 82, ../sass/email.scss */
h1, h3.field-label {
  font-size: 18px;
  color: #0279c2;
  font-weight: normal;
  margin: 0px 0px 30px;
}

/* line 88, ../sass/email.scss */
h3.field-label {
  font-size: 16px;
  margin: 0px 0px 10px;
}

/* line 93, ../sass/email.scss */
.event-approval-link {
  padding: 20px 0px;
}

/* line 97, ../sass/email.scss */
.date-display-single {
  color: #0279c2;
  font-size: 16px;
}

/* line 101, ../sass/email.scss */
.field-name-field-denied-suggested-date .date-display-single {
  color: #222;
  font-size: 14px;
}

/* line 105, ../sass/email.scss */
.event-register-link {
  padding: 20px 0px 0px;
}

/* line 109, ../sass/email.scss */
.event-detail {
  margin: 3px 0px;
}

/* line 113, ../sass/email.scss */
h3.field-label {
  font-size: 18px;
  color: #0279c2;
}
